# Leiningen files
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-state
.lein-failures
.lein-plugins
.lein-repl-history
package.*.json
package.json
package-lock.json
node_modules/
resources/public/js/compiled/

# IDE/Editor files
.lsp/
.clj-kondo/.cache/
.ccls-cache/
.rebel_readline_history
.nrepl-port
.shadow-cljs/
.calva/
.vscode/
.idea/
*.iml
.DS_Store

# OS/System files
*~
#*
.#*
